<div fxLayout="column" fxLayoutGap="10px" fxFlex="100%">

    <form [formGroup]="schduleMeetingForm">
        <mat-form-field fxFlex="33%" appearance="outline">
            <mat-label>TimeZone </mat-label>
            <mat-select formControlName="timeZone">
                <mat-option *ngFor="let timezone of timeZones" [value]="timezone.key">
                    {{timezone.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="33">
            <mat-label>BirthDate</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="BirthDate" placeholder="MM-DD-YYYY">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <!-- <mat-error *ngFor="let validation of formValidations.BirthDate">
              <mat-error class="error-message"
                *ngIf="AddOrEditcustomerForm.get('BirthDate').hasError(validation.type) && (AddOrEditcustomerForm.get('BirthDate').dirty || AddOrEditcustomerForm.get('BirthDate').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error> -->
          </mat-form-field>
          <div>
          <mat-form-field appearance="outline">
      <input #fromInput matInput placeholder="From" formControlName="fromTime"  [ngxTimepicker]="editableDial">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="fromInput.click()">
        <mat-icon>alarm</mat-icon>
      </button>
    </mat-form-field>

    <ngx-material-timepicker 
      #editableDial 
      [enableKeyboardInput]="true"  
      (timeSet)="filterByReminderFrom($event)">
    </ngx-material-timepicker>
  </div>
  
  <div fxFlex="50%" class="height-32">
    <mat-form-field appearance="outline">
      <input #toInput matInput placeholder="To" formControlName="toTime" [ngxTimepicker]="editableDialTo">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="toInput.click()">
        <mat-icon>alarm</mat-icon>
      </button>
    </mat-form-field>

    <ngx-material-timepicker 
      #editableDialTo 
      [enableKeyboardInput]="true"
      (timeSet)="filterByReminderTo($event)">
    </ngx-material-timepicker>
  </div>

        
    </form>
        </div>
